* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Days One", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #246219;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.menu {
    display: flex;
}

.menu li a {
    padding: 0.4em;
    text-decoration: none;
}

h1{
    text-align: center;
}

ul, li {
    list-style: none;
    font-size: 1.2rem;
}

.logo > img{
    max-height: 50px;
    margin-left: 1em;
    
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #011f0b;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.2em;
    position: fixed;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 10.5vh;
}

.sec1>div {
    display: flex;
    flex-direction: column;
}

.sec1>img {
    height: 100px;
    margin-bottom: 5vh;
    padding-left: 90px;
    padding-right: 100px;
}

fieldset {
    margin-top: 3vh;
    border: none;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 8px;
    box-shadow: 1px;
    height: 2.5em;
}

button[type="submit"] {
    background-color: #246219;
    color: white;
    border-radius: 8px;
    box-shadow: 1px;
    height: 2.5em;
}

div > img {
    height: 100px;
    padding-left: 90px;
    padding-right: 100px;
    margin-bottom: 5vh;
    
}