* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Days One", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #246219;
    font-size: 1em;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 0.4em;
    text-decoration: none;
}

ul, li {
    list-style: none;
    font-size: 1.2rem;
}

.logo > img{
    max-height: 50px;
    margin-left: 1em;
}

li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #011f0b;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.2em;
    position: fixed;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 40vh;
}

body.contrast-yellow {
    background-color: yellow;
    color: black;
}

body.contrast-blue {
    background-color: blue;
    color: white;
}

body.contrast-black {
    background-color: black;
    color: yellow;
}
