/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Days One", sans-serif;
    font-size: 22px;
}

/*----------------------------------------------*/

/* CSS do menu superior */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #246219;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.menu {
    display: flex;
}

.menu li a {
    padding: 0.4em;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    font-size: 1.2rem;
}

.logo > img{
    max-height: 50px;
    margin-left: 1em;
}

/*----------------------------------------------*/

/* CSS do rodapé */
footer {
    display: flex;
    flex-direction: column;
    background-color: #011f0b;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*----------------------------------------------*/

/* CSS do body */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------*/

/* CSS do conteúdo em texto */
.sec1 {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div>img {
    width: 120px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

/*----------------------------------------------*/