*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #246219;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.menu{
    display: flex;
}

.menu li a{
    padding: 0.4em;
    text-decoration: none;
}

ul,li{
    list-style: none;
    font-size: 1.2rem;
}

.logo{
    padding-top: 10px;
    max-height: 4em;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #011f0b;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.2em;
    position: fixed;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}


li button {
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

li button:hover {
    background-color: #0056b3;
}

li button.delete {
    background-color: #dc3545;
}

li button.delete:hover {
    background-color: #c82333;
}