.sec1 {
    padding-top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    background-color: #246219;
    color: white;
    border-radius: 0.6em;
    padding: 0.5em;
}

p {
    text-align: center;
    padding-bottom: 1vh;
}

.sec2 {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sec3 {
    display: flex;
    justify-content: center;
}

.img {
    padding: 0.4em 7.5em;
}


.sec1>img {
    height: 200px;
}

h4 {
    text-align: center;
}

.a {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.i {
    width: 100px;
    height: auto;
}


